article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul {
  list-style: none;
}

p {
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: #111;
}

.section {
  padding: 50px 0;
}

.section .section-header {
  text-align: center;
  letter-spacing: 1px;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .section .section-header {
    padding: 0 30px;
  }
}

button {
  border: none;
  background-color: unset;
}

.container,
.container-fluid {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .col-sm {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.3%;
  }
  .col-md-3 {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-4 {
    width: 33.3%;
  }
  .col-lg-3 {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-4 {
    width: 33.3%;
  }
  .col-xl-3 {
    width: 25%;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.main-nav .navbar .nav-item {
  margin-right: 20px;
}

.main-nav .navbar .nav-item .nav-link,
.main-nav .navbar .nav-item .switch-lang {
  padding: 10px 20px;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-nav .navbar .nav-item .nav-link:hover,
.main-nav .navbar .nav-item .switch-lang:hover {
  background-color: rgba(1, 1, 1, 0.7);
}

.main-nav .navbar .nav-item:last-of-type {
  margin-right: 0;
}

.main-nav .logo {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2px 0;
  border-bottom: 3px solid #0d6efd;
}

.main-nav .menu-icon {
  display: none;
  background: transparent;
  border: none;
  border-radius: none;
}

.nav-bg-primary {
  background-color: #0d6efd;
}

.nav-bg-primary .navbar .nav-item .nav-link:hover,
.nav-bg-primary .navbar .nav-item .switch-lang:hover {
  background-color: #FFFFFF;
  color: #0d6efd;
}

@media screen and (max-width: 992px) {
  .main-nav .logo {
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .main-nav .navbar {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: -100%;
    text-align: right;
    padding: 15px 20px;
    margin-left: 0;
    background-color: #0d6efd;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .main-nav .navbar .nav-item {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
  .main-nav .navbar .nav-item .nav-link,
  .main-nav .navbar .nav-item .switch-lang {
    margin-bottom: inherit;
    font-size: 2rem;
    padding: 10px;
  }
  .main-nav .navbar .nav-item:last-of-type {
    margin-bottom: 0;
  }
  .main-nav .menu-icon {
    color: #FFFFFF;
    display: block;
    margin-left: auto;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  background-image: url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6);
}

header .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: inherit;
  z-index: 5;
  color: #FFFFFF;
}

header .header-title {
  letter-spacing: 1px;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  header .header-title {
    font-size: 2.5rem;
  }
}

#contact {
  background-color: #f8f9fa;
}

#contact .contact-header {
  color: #6c757d;
}

#contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 50%;
}

#contact .contact-form .input-field {
  background-color: rgba(107, 117, 125, 0.1);
  border-bottom: 2px solid #0d6efd;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#contact .contact-form .input-field:focus {
  cursor: pointer;
  outline: none;
  background-color: rgba(13, 110, 253, 0.1);
}

#contact .contact-form .input-field:hover {
  cursor: pointer;
}

#contact .contact-form .input-error {
  border-bottom: 2px solid red;
}

#contact .contact-form .input-label {
  margin-top: 25px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #333;
  opacity: 0.7;
}

#contact .contact-form .input-label:first-of-type::after,
#contact .contact-form .input-label:nth-of-type(2)::after,
#contact .contact-form .input-label:last-of-type::after {
  content: ' *';
  color: red;
  font-weight: 700;
}

#contact .contact-form .send-message {
  width: 50%;
  margin: 25px auto;
  font-weight: 700;
}

#contact .contact-form .send-message:hover {
  border: 1px solid #0d6efd;
}

#contact .error-msg {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
  #contact .contact-form {
    width: 100%;
  }
  #contact .contact-form .send-message {
    width: 100%;
  }
}

#tech-stack .tech-stack-header {
  color: #0d6efd;
}

#tech-stack .tech-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 20px auto;
}

#tech-stack .tech-img-wrapper .tech-img {
  width: 100%;
}

#portfolio {
  background-color: #f8f9fa;
}

#portfolio .projects-header {
  color: #6c757d;
}

#portfolio .container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about {
  text-align: justify;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-header {
  color: #0d6efd;
}

#about .description {
  font-weight: 300;
  font-size: 1.2rem;
}

#about .download-cv {
  margin-right: 20px;
}

#about .download-cv,
#about .download-resume {
  width: 20%;
  margin-top: 30px;
  text-align: center;
}

#about .download-cv:hover,
#about .download-resume:hover {
  border: 1px solid #0d6efd;
}

@media screen and (max-width: 767px) {
  #about .download-cv {
    margin-right: 0;
  }
  #about .download-cv,
  #about .download-resume {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #about .download-cv,
  #about .download-resume {
    width: 35%;
  }
}

.main-footer {
  background-color: #0d6efd;
  padding: 50px 0;
  text-align: center;
  color: #FFFFFF;
}

.main-footer .author-info {
  font-style: italic;
  font-weight: 300;
}

.btn {
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.btn-blue {
  background-color: #0d6efd;
  color: #FFFFFF;
}

.btn-blue:hover {
  background-color: #FFFFFF;
  color: #0d6efd;
  cursor: pointer;
}

.learn-more {
  font-weight: 700;
}

.card-wrapper {
  width: 24%;
  margin-bottom: 15px;
}

.card-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.01);
}

.card-wrapper .card .card-img {
  width: 100%;
  height: 50%;
}

.card-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  padding: 10px;
  text-align: center;
}

.card-wrapper .card .card-body .card-title {
  color: #333;
  font-size: 1rem;
  opacity: 0.7;
}

.card-wrapper .card .card-body .card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}

.card-wrapper .card .card-body .card-description .technology {
  padding: 3px 10px;
  background-color: rgba(1, 1, 1, 0.2);
  color: #333;
  border-radius: 15px;
  margin-top: 10px;
}

.card-wrapper .card .card-body .card-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  font-weight: 700;
}

.card-wrapper .card .card-body .card-btn:hover {
  border: 1px solid #0d6efd;
}

@media screen and (max-width: 1200px) {
  .card-wrapper {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card-wrapper {
    width: 49%;
  }
}
/*# sourceMappingURL=style.css.map */