#about {
    text-align: justify;

    .container {
        @include flexbox;
        @include flex-center;
    }

    .about-header {
        color: $bg-primary;
    }

    .description {
        font-weight: 300;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 767px) {
    #about {

        .download-cv {
            margin-right: 0;
        }
        .download-cv,
        .download-resume {
            width: 100%;
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #about {
        .download-cv,
        .download-resume {
            width: 35%;
        }
    }
}