#contact {
    background-color: $bg-seconadry;

    .contact-header {
        color: #6c757d;
    }

    .contact-form {
        @include flexbox;
        flex-direction: column;
        margin: 20px auto;
        width: 50%;

        .input-field {
            background-color: rgba(107, 117, 125,0.1);
            border-bottom: 2px solid $bg-primary;
            padding: 5px;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .input-field:focus {
            cursor: pointer;
            outline: none;
            background-color: rgba(13, 110, 253,0.1);
        }

        .input-field:hover {
            cursor: pointer;
        }

        .input-error {
            border-bottom: 2px solid red;
        }

        .input-label {
            margin-top: 25px;
            letter-spacing: 1px;
            margin-bottom: 5px;
            color: #333;
            opacity: 0.7;
        }

        .input-label:first-of-type::after,
        .input-label:nth-of-type(2)::after,
        .input-label:last-of-type::after {
            content: ' *';
            color: red;
            font-weight: 700;
        }

        .send-message {
            width: 50%;
            margin: 25px auto;
            font-weight: 700;
        }

        .send-message:hover {
            border: 1px solid $bg-primary;
        }
    }

    .error-msg {
        color: red;
        font-style: italic;
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 767px) {
    #contact-section {

        .contact-form {
            width: 100%;

            .send-message {
                width: 100%;
            }
        }
    }
}