header {
    @include flexbox;
    @include flex-center;
    height: 100vh;
    position: relative;
    background-image: url('../img/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1,1,1,0.6);
    }

    .container {
        @include flex-center;
        flex-direction: column;
        position: inherit;
        z-index: 5;
        color: $white;
    }

    .header-title {
        letter-spacing: 1px;
        font-size: 3rem;
        text-align: center;
    }

}

@media screen and (max-width: 992px) {
    header {
        .header-title {
            font-size: 2.5rem;
        }
    }
}