.btn {
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.2s;
}

.btn-blue {
    background-color: $bg-primary;
    color: $white;
}

.btn-blue:hover {
    background-color: $white;
    color: $bg-primary;
}

.learn-more {
    font-weight: 700;
}
